*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Images/wooden-background.avif);
    background-size: cover;
    background-position: center;
}



header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

header ul li{
    display: inline-block;
    padding: 0 40px;
}

header ul li a::after{
    content:  "";
    height: 3px;
    width: 0%;
    background-color: #871a1f;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease;

}

header ul li a:hover::after{
    width: 100%;
}



header ul li a {
    color: white;
    transition: all 0.5s ease;
    position: relative;
}

.logo{
    margin-right: auto;
    color: white;
    width: 90px;
}

.panta{
    margin-left: 20px;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    background-color: #871a1f;
    color: white;
    font-weight: bold;
    transition:  0.5s ease;
    cursor: pointer;
}

.panta:hover{
    background-color: #871a1fa6;
}

.panta:active{
    background-color: rgba(216, 3, 3, 0.423);
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-weight: normal;
    font-size: 60px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(216, 3, 3);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

span{
    background: rgb(216, 3, 3);
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s ease;
}

.button:hover span{
    width: 100%;
}

.button:hover{
    border: none;
}

.button1{
    margin-left: 20px;
    padding: 12px 16px;
    border-radius: 5px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}

.button1:hover{
    color: black;
    background-color: white;
}

.panta2 {
    margin-left: 20px;
    padding: 12px 16px;
    border-radius: 5px;
    border: none;
    background-color: #871a1f;
    color: white;
    transition:  0.5s ease;
    cursor: pointer;
}

.panta2:hover{
    background-color: #871a1fa6;
}